@charset "UTF-8";

.scroll-top {
  width: 50px;
  height: 50px;
  background: rgba(124,121,121,.76);
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body.lock,
body.lock-modal {
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.section {
  padding: 45px 30px;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container-header {
  width: 100%;
  text-align: center;
  font-family: Roboto,sans-serif;
  padding: 20px 0 40px;
}

.title {
  color: #50341d;
  font-size: 33px;
  font-weight: bolder;
}

.subtitle {
  font-family: Roboto,sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.desc {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.blue-btn {
  padding: 10px 30px;
  font-family: Roboto,sans-serif;
  background: #61b7b6;
  border-radius: 30px;
  color: #fff;
}

.item-footer {
  position: absolute;
}

.item-footer .item-footer__link {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #61b7b6;
}

.b-link {
  color: #61b7b6;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
  z-index: 10000000;
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  border: 1px solid #888;
  width: 40%;
}

.tabs-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px 15px;
}

.mobile-tab__wrapper {
  padding: 10px;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  color: #61b7b6;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #6e6e6e;
  position: relative;
}

.mobile-tab__wrapper .close-mob-butt {
  display: none;
}

.mobile-tab__wrapper .close-mob-butt img {
  width: 100%;
  height: 100%;
}

.mobile-tab__wrapper._active .close-mob-butt {
  display: block;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 10px;
  width: 25px;
  height: 25px;
}

.tabs__mobile-map {
  width: 90%;
  height: 100%;
  position: relative;
}

.tabs__mobile-map img {
  margin-right: 10px;
}

.tabs__mobile-map .close-mob {
  display: none;
}

.tabs__mobile-map._active {
  position: relative;
  padding: 20px;
}

.tabs__mobile-map._active img,
.tabs__mobile-map._active span {
  display: none;
}

.tabs__mobile-map._active::before {
  content: ">";
  font-size: 20px;
  font-weight: 700;
  color: #61b7b6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg);
}

.toggle-map {
  position: absolute;
  left: 0;
  top: 100px;
  width: 130px;
  height: 70px;
  z-index: 100;
  background: #61b7b6;
  transform: translateX(-100%);
  border-radius: 30px 0 0 30px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.toggle-map img {
  margin-bottom: 5px;
}

.address-items {
  margin-top: 20px;
  display: none;
  box-shadow: 0 0 10px #585858;
  padding: 10px;
}

.address-items.open-tab {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
}

.address-items.open-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: #61b7b6;
  margin-right: 10px;
}

.address-item {
  flex: 0 1 48%;
  font-family: Roboto,sans-serif;
  margin-bottom: 20px;
}

.address-item__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}

.address-item__heading span {
  font-size: 15px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
}

.address-item__heading img {
  width: 15px;
  transform: rotate(180deg);
}

.address-item__title {
  color: #50341d;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-item__title-text {
  margin-left: 10px;
}

.address-item__value {
  margin-bottom: 10px;
  font-size: 18px;
}

.address-item__tel {
  font-size: 18px;
  color: #61b7b6;
}

.address-item__mail {
  font-size: 18px;
  color: #61b7b6;
}

.map-wrapper {
  position: absolute;
  left: 0;
  top: 50px;
  width: 60%;
  height: calc(100% - 50px);
  background: #7c4444;
  display: none;
}

.map-wrapper.open {
  display: block;
}

.modal-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal-map.open-map {
  display: block;
}

.tabs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__title {
  font-family: Roboto,sans-serif;
  font-size: 20px;
}

.tabs__close {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.tab__buttons {
  margin-top: 20px;
}

.tab__button {
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #7a7979;
  font-size: 16px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
}

.tab__button img {
  width: 30px;
  height: 15px;
}

.tab__button.closed {
  display: none;
}

.header {
  width: 100%;
  height: 52px;
  background: #50341d;
  display: flex;
  padding: 0 30px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
}

.header .container .info {
  display: flex;
  align-items: center;
  font-family: Roboto,sans-serif;
}

.header .container .info__logo {
  margin-right: 40px;
}

.header .container .info__logo img {
  max-width: 100px;
  object-fit: contain;
}

.header .container .info__phone {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  background: 0 0;
}

.header .container .info__phone-svg {
  fill: #61b7b6;
  margin-right: 15px;
}

.header .container .menu {
  height: 100%;
  font-family: Roboto,sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container .menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .container .menu__li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.header .container .menu__li:hover {
  background: #fff;
}

.header .container .menu__link {
  font-family: Roboto,sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 10px;
}

.header .container .menu__li:hover .menu__link {
  color: #61b7b6;
}

.header .container .menu__arrow svg {
  stroke: #fff;
  width: 10px;
  height: 5px;
  position: relative;
  top: -2px;
}

.header .container .menu__li:hover .menu__arrow svg {
  stroke: #61b7b6;
}

.header .container .menu__sub-list {
  padding: 20px;
  width: auto;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0 10px #000;
}

.header .container .menu__sub-list li {
  margin-bottom: 20px;
}

.header .container .menu__sub-list li:last-child {
  margin-bottom: 0;
}

.header .container .menu__sub-link {
  white-space: nowrap;
  font-size: 25px;
  text-transform: uppercase;
  color: #50341d;
  font-weight: bolder;
}

.header .container .menu__sub-link:hover {
  color: #61b7b6;
}

.header .container .menu__location-wrapper {
  height: 100%;
}

.header .container .menu__location {
  height: 100%;
  margin-left: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #61b7b6;
}

.header .container .menu__location-text {
  margin-left: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bolder;
}

.header .container .menu__icon {
  display: none;
}

.section-steps .container-body .steps {
  display: flex;
  justify-content: space-between;
}

.section-steps .container-body .steps .steps-item {
  flex: 0 1 23%;
  font-family: Roboto,sans-serif;
}

.section-steps .container-body .steps .steps-item__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-steps .container-body .steps .steps-item__header-circle {
  width: 30px;
  height: 30px;
  background: #61b7b6;
  color: #fff;
  border-radius: 100%;
  font-family: Roboto,sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.section-steps .container-body .steps .steps-item__header-title {
  font-size: 20px;
  font-weight: 600;
}

.section-steps .container-body .steps .steps-item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.section-steps .container-body .steps .steps-item__body-img img {
  width: 100%;
  max-height: 90px;
  object-fit: contain;
}

.section-steps .container-body .steps .steps-item__body-text {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}

.section-steps .container-body .items {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.section-steps .container-body .items .item {
  flex: 0 1 30%;
  background: #efefef;
  padding: 20px 10px 30px;
  font-family: Roboto,sans-serif;
}

.section-steps .container-body .items .item__header {
  padding: 10px;
  text-align: center;
}

.section-steps .container-body .items .item__header-title {
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}

.section-steps .container-body .items .item__body {
  margin-top: 20px;
}

.section-steps .container-body .items .item__body-list {
  padding: 10px 10px 10px 30px;
}

.section-steps .container-body .items .item__body-li {
  list-style: decimal;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 34px;
}

.section-steps .container-body .items .item__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-steps .container-body .items .item__footer-link {
  font-size: 21px;
  text-transform: uppercase;
}

.footer {
  margin-top: 100px;
  padding: 0 0 60px;
  background: #50341d;
}

.footer-icons {
  background: #281a0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons__icon-link {
  margin: 10px;
}

.footer-icons__icon-img {
  fill: #fff;
}

.footer-icons__icon-link:hover .footer-icons__icon-img {
  fill: #61b7b6;
}

.footer-links {
  padding: 30px;
  font-family: Roboto,sans-serif;
}

.footer-links__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-links__li {
  flex: 0 1 12.5%;
}

.footer-links__link {
  font-size: 18px;
  color: #61b7b6;
  font-weight: bolder;
  text-transform: uppercase;
}

.footer-links__sub-list {
  margin-top: 20px;
}

.footer-links__sub-li {
  margin-bottom: 15px;
}

.footer-links__sub-link {
  font-size: 15px;
  color: #fff;
}

.footer-links__bottom-row {
  margin-top: 30px;
}

.footer-links__bottom-list {
  display: flex;
}

.footer-links__bottom-li {
  flex: 0 1 12.5%;
  display: flex;
  flex-direction: column;
}

.footer-info {
  position: fixed;
  height: 43px;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 2px #888;
  z-index: 99999;
  background: #fff;
  border-top: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info .item {
  border-right: 1px solid gray;
  padding: 0 10px;
}

.footer-info .item:last-child {
  border-right: none;
}

.footer-info .item__link {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

@media (min-width:768px) {
  .header .container .menu__li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media (max-width:1650px) {
  .header .container .info__phone {
    font-size: calc(10px + 10 * ((100vw - 300px)/ (1600 - 300)));
  }

  .header .container .menu__link {
    font-size: calc(10px + 10 * (100vw / 1920));
  }

  .header .container .menu__sub-link {
    font-size: calc(10px + 10 * (100vw / 1920));
  }

  .header .container .menu__location-text {
    font-size: calc(7px + 10 * (100vw / 1920));
  }
}

@media (max-width:1400px) {
  .address-item__title {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__value {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__tel {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__mail {
    font-size: calc(8px + 10 * (100vw / 1920));
    text-align: center;
  }

  .footer-links__link {
    font-size: calc(10px + 8 * (100vw / 1920));
  }

  .footer-links__sub-link {
    font-size: calc(8px + 7 * (100vw / 1920));
  }
}

@media (max-width:1240px) {
  .header .container .info__logo {
    margin-right: 20px;
  }

  .header .container .info__phone-svg {
    margin-right: 8px;
    fill: #fff;
    margin-left: 10px;
  }

  .header .container .menu__li {
    font-size: calc(7px + 7 * (100vw / 1920));
    padding: 7px;
  }

  .header .container .menu__sub-link {
    font-size: calc(10px + 7 * (100vw / 1920));
  }

  .header .container .menu__location {
    padding: 8px;
    margin-left: 10px;
  }

  .header .container .menu__location-text {
    font-size: calc(7px + 7 * (100vw / 1920));
  }

  .footer {
    padding: 0 0 20px;
  }

  .footer-links__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-links__li {
    flex: 0 1 24%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links__bottom-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-links__bottom-li {
    flex: 0 1 25%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:960px) {
  .header .container .menu__link {
    font-size: calc(7px + 9 * (100vw / 1920));
    margin-right: 7px;
  }
}

@media (max-width:768px) {
  .title {
    font-size: 27px;
  }

  .desc {
    font-size: 25px;
  }

  .modal-content {
    width: 100%;
    height: auto;
    top: 50px;
    transition: top .3s;
  }

  .modal-content.open-content {
    top: 450px;
  }

  .tabs__mobile-map {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .address-item__title {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .address-item__value {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .address-item__tel {
    font-size: calc(12px + 8 * (100vw / 1920));
    text-align: center;
  }

  .address-item__mail {
    font-size: calc(12px + 8 * (100vw / 1920));
    text-align: center;
  }

  .map-wrapper {
    height: 400px;
    width: 100%;
  }

  .tabs__close {
    display: none;
  }

  .header .container .info__phone {
    background: #61b7b6;
    padding: 10px;
    border-radius: 5px;
  }

  .header .container .info__phone-text {
    visibility: hidden;
    position: relative;
    max-width: 95px;
    font-size: 10px;
  }

  .header .container .info__phone-text::after {
    content: "anrufen";
    visibility: visible;
    position: absolute;
    left: 50%;
    top: 0;
    font-size: calc(10px + 18 * ((100vw - 300px)/ (1600 - 300)));
    transform: translateX(-50%);
    text-transform: uppercase;
  }

  .header .container .menu__location-wrapper {
    margin-top: 20px;
  }

  .header .container .menu__list {
    position: fixed;
    top: 52px;
    left: 0;
    height: 0%;
    width: 100%;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;
    transition: height .3s linear;
  }

  .header .container .menu__list._active {
    height: 100%;
  }

  .header .container .menu__arrow svg {
    width: 30px;
    height: 25px;
    stroke: #50341d;
    top: 0;
  }

  .header .container .menu__li {
    width: 100%;
    padding: 15px 30px;
    flex-wrap: wrap;
    height: unset;
    -webkit-tap-highlight-color: transparent;
  }

  .header .container .menu__li._active .menu__sub-list {
    flex: 1 1 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: 100%;
  }

  .header .container .menu__link {
    color: #50341d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .header .container .menu__arrow {
    transition: transform .3s;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .header .container .menu__li._active .menu__arrow {
    transform: rotate(-180deg);
  }

  .header .container .menu__sub-list {
    height: 0;
    top: 0;
    box-shadow: unset;
  }

  .header .container .menu__sub-link {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .header .container .menu__location-wrapper {
    width: 100%;
  }

  .header .container .menu__location {
    width: 100%;
    margin-left: 0;
    height: 80px;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .header .container .menu__location-text {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .header .container .menu__icon {
    z-index: 5;
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header .container .menu__icon span,
  .header .container .menu__icon::after,
  .header .container .menu__icon::before {
    opacity: 1;
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: .3s;
    background: #fff;
  }

  .header .container .menu__icon::after,
  .header .container .menu__icon::before {
    content: "";
  }

  .header .container .menu__icon::before {
    top: 0;
  }

  .header .container .menu__icon::after {
    bottom: 0;
  }

  .header .container .menu__icon span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }

  .header .container .menu__icon_active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .header .container .menu__icon_active::after {
    transform: rotate(-45deg);
    bottom: 50%;
  }

  .header .container .menu__icon_active span {
    opacity: 0;
  }

  .header .container .menu__icon._active span,
  .header .container .menu__icon._active::after,
  .header .container .menu__icon._active::before {
    background: #61b7b6;
  }

  .header .container .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }

  .header .container .menu__icon._active::after {
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }

  .header .container .menu__icon._active span {
    opacity: 0;
  }

  .footer-links__li {
    flex: 0 1 40%;
  }

  .footer-links__bottom-li {
    flex: 0 1 40%;
  }

  .footer-info {
    display: none;
  }
}

@media (max-width:768px) and (max-width:768px) {
  .header .container .menu__link {
    font-size: calc(12px + 15 * (100vw / 1920));
  }
}

@media (max-width:568px) {
  .section {
    padding: 15px;
  }

  .modal-content.open-content {
    top: 300px;
  }

  .map-wrapper {
    height: 250px;
  }

  .footer-links__li {
    flex: 0 1 47%;
  }

  .footer-links__bottom-li {
    flex: 0 1 47%;
  }
}