.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index: 10000000;
}

.modal.open {
  display: block;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  position: absolute;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

.tabs-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px 15px;
}

.tabs__mobile-map {
  display: none;
  padding: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #61b7b6;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #6e6e6e;
}

.tabs__mobile-map img {
  margin-right: 10px;
}

.tabs__mobile-map._active {
  position: relative;
  padding: 20px;
}

.tabs__mobile-map._active img {
  display: none;
}

.tabs__mobile-map._active span {
  display: none;
}

.tabs__mobile-map._active::before {
  content: ">";
  font-size: 20px;
  font-weight: 700;
  color: #61b7b6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.toggle-map {
  position: absolute;
  left: 0;
  top: 100px;
  width: 130px;
  height: 70px;
  z-index: 100;
  background: #61b7b6;
  transform: translateX(-100%);
  border-radius: 30px 0 0 30px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.toggle-map img {
  margin-bottom: 5px;
}

.address-items {
  margin-top: 20px;
  display: none;
  box-shadow: 0 0 10px #585858;
  padding: 10px;
}

.address-items.open-tab {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
}

.address-items.open-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: #61b7b6;
  margin-right: 10px;
}

.address-item {
  flex: 0 1 48%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.address-item__title {
  color: #50341d;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-item__title-text {
  margin-left: 10px;
}

.address-item__value {
  margin-bottom: 10px;
  font-size: 18px;
}

.address-item__tel {
  font-size: 18px;
  color: #61b7b6;
}

.address-item__mail {
  font-size: 18px;
  color: #61b7b6;
}

.map-wrapper {
  position: absolute;
  left: 0;
  top: 50px;
  width: 60%;
  height: calc(100% - 50px);
  background: #7c4444;
  display: none;
}

.map-wrapper.open {
  display: block;
}

.modal-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal-map.open-map {
  display: block;
}

.tabs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.tabs__close {
  cursor: pointer;
}

.tab__buttons {
  margin-top: 20px;
}

.tab__button {
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 10px #7a7979;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.tab__button img {
  width: 30px;
  height: 15px;
}

.tab__button.closed {
  display: none;
}

@media (max-width: 1400px) {
  .address-item__title {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__value {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__tel {
    font-size: calc(8px + 10 * (100vw / 1920));
  }

  .address-item__mail {
    font-size: calc(8px + 10 * (100vw / 1920));
    text-align: center;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: auto;
    top: 50px;
    transition: top 0.3s ease 0s;
  }

  .modal-content.open-content {
    top: 450px;
  }

  .tabs__mobile-map {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .address-item__title {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .address-item__value {
    font-size: calc(12px + 8 * (100vw / 1920));
  }

  .address-item__tel {
    font-size: calc(12px + 8 * (100vw / 1920));
    text-align: center;
  }

  .address-item__mail {
    font-size: calc(12px + 8 * (100vw / 1920));
    text-align: center;
  }

  .map-wrapper {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 568px) {
  .modal-content.open-content {
    top: 300px;
  }

  .map-wrapper {
    height: 250px;
  }
}